.page {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: fit-content;
}

.header {
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border: 3px solid #434968;
    background-color: #303348;
}

.logo {
    float: left;
    margin: 16px;
    cursor:pointer;
}

.logo-img {
    width: max-content;
    height: 60px;
}

.user-info {
    float: right;
    margin: 20px;
    padding-right: 12px;
}

.avatar-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ccc;
    cursor: pointer;
}

.avatar {
    width: 100%; 
    height: auto; 
    display: block; 
}

.status {
    position: absolute;
    bottom: 25px;
    right: 35px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #28C76F;
}

.sidebar {
    background-color: #303348;
    width: 100%;
    height: 60px;
}

main {
    width: 100%;
    height: 100%;
    background-color: #25293C
}

.userMenu_view {
    position: absolute;
    top: 100px;
    right: 0;
    min-width: 15%;
    padding: 5px 20px;
    background-color: #7065E8;
    border-radius: 10px;
    margin-right: 20px;
}

.userMenu_function_btn {
    cursor: pointer;
    margin: 10px 0px;
}
    .userMenu_function_btn:first-child {
        padding: 5px 0px;
        cursor: default;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .userMenu_function_btn img {
        width: 35px;
        height: 35px;
    }

.spacer {
    border-bottom: 2px solid #434968;
    margin: 3px 0px;
}

.level_cicle_view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; /* Adjust width */
    height: 35px; /* Adjust height */
    background-color: #25293C; /* Background color */
    border-radius: 30px;
    border: 2px solid #28C76F; /* Border style */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
    margin-left: 20px;
}

    .level_cicle_view a {
        text-decoration: none; /* Remove underline */
        color: #fff; /* Text color */
        font-size: 13px; /* Adjust font size */
        font-weight: bold; /* Bold text */
    }
