@inherits LayoutComponentBase

<div class="page">
    <div class="header ">
        <div class="logo">          
            <NavLink href="/">
                <img class="logo-img" src="assests/Logo.png" alt="Logo main">
            </NavLink>            
        </div>
        <div class="user-info">
            <div class="avatar-container">
              <img src="assests/avatar.jpg" alt="User Avatar" class="avatar">
              <div class="status"></div>
            </div>      
        </div>
    </div>

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>