
.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.nav-item ::deep a {
    color: white;
    border-radius: 8px;
    width: 200px;
    height: 42px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3rem;
}


.nav-item ::deep a.active {
    background-color: #7065E8;
    color: white;
}

.nav-item ::deep a:hover {
    background-color: #7065E8;
    color: white;
}

/* Responsive */
@media (min-width: 700px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.nav-item-icon{
    height: 24px;
    width: 24px;
    margin: 6px;
}
