<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="navbar position-static mx-5">

        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img class="nav-item-icon" src="assests/icon/search_icon.png" aria-hidden="true" /> Search Law
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="lawdocuments">
                <img class="nav-item-icon" src="assests/icon/document_icon.png" aria-hidden="true" /> Law Documents
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="concept">
                <img class="nav-item-icon" src="assests/icon/concept_icon.png" aria-hidden="true"/> Concept
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="keyphrase">
                <img class="nav-item-icon" src="assests/icon/keyphrase_icon.png" aria-hidden="true" /> KeyPharse
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="usermanagement">
                <img class="nav-item-icon" src="assests/icon/user_management_icon.png" aria-hidden="true"> User Management
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="historysearch">
                <img class="nav-item-icon" src="assests/icon/history_icon.png" aria-hidden="true" /> History search
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
