﻿<div class="result-item">
    <div class="result-info">
        [Rank #@Rank] - [@Artical.Title] - [@Artical.LawName]
    </div>
    <div class="result-content">
        @Artical.Content
    </div><br />
    <div>
        <div class="aa">Đánh giá độ phù hợp: @Math.Round(Artical.Distance, 6)</div>
    </div>
    <hr />
</div>

@code {
    [Parameter]
    public int Rank { get; set; } 

    [Parameter]
    public ArticalResult Artical { get; set; } 
}