﻿.result-item {
    height: fit-content;
    width: 100%;
    padding-left: 20px;
}

.result-info {
    height: 35px;
    cursor: pointer;
    width: fit-content;
    transition: transform 0.3s ease;
}
    .result-info:hover {
        transform: scale(1.04);
        color: #03FCDE;
        cursor: pointer;
    }

.result-content {
    font-size: 14px;
}

.aa{
    color: orange;
}

.modal-content {
    color: black;
}

.modal-dialog {
    max-width: 1000px;
}

.modal-body{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.artical-content {
    white-space: pre-line;
    height: fit-content;
    overflow-y: auto;
    max-height: 57vh;
}

.label {
    color: white;
    border-radius: 10px;
    padding: 8px;
}

.success {
    background-color: #04AA6D;
}
/* Green */
.info {
    background-color: #2196F3;
}
/* Blue */
.warning {
    background-color: #ff9800;
}
/* Orange */
.danger {
    background-color: #f44336;
}
/* Red */
.other {
    background-color: #e7e7e7;
    color: black;
}
/* Gray */

