﻿<div class="result-item">
    <div class="result-info">
        [Rank #@Rank] - [@Artical.Title] - [@Artical.LawName]
    </div>
    <div class="result-content">
        @Artical.Content
    </div>
    <div>
        <a>Score: @Math.Round(Artical.Distance, 6)</a>
    </div>
    <div>
        <a>Detail: </a>
        @for (int i = 0; i < Artical.KeyPhrases.Count(); i++)
        {
            <a style="margin-right: 20px">@Artical.KeyPhrases[i].Key: @Math.Round(Artical.Vector[i], 8)</a>
        }
    </div>
    <hr />
</div>

@code {
    [Parameter]
    public int Rank { get; set; } 

    [Parameter]
    public ArticalResult Artical { get; set; } 
}