<div class="result-item">
    <div class="result-info">
        [@Rank] - [@Info]
    </div>
    <div class="result-content">
        Hỗ trợ khi nhà nước thu hồi đất
    </div>
    <hr />
</div>

@code {
    [Parameter]
    public string Rank { get; set; }

    [Parameter]
    public string Info { get; set; }
}
