.add-button {
    margin-top: 20px;
    background-color: #570DF8;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.add-button:hover{
    background-color: #4D12CF;
}

.delete-button {
    margin-top: 20px;
    background-color: #F87676;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

    .delete-button:hover {
        background-color: #C45A5A;
    }

.reset-button {
    margin-top: 20px;
    background-color: #3D4451;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

    .reset-button:hover {
        background-color: #5E6A7F;
    }