.content {
    display: flex;
    width: 100%;
    margin-top: 4px;
}

.left-content {
    width: 40%;
}

.list-concept {
    height: 470px;
    overflow-y: auto; 
    border: 1px solid #ccc;
    padding: 10px;
}

.concept-detail {
    width: 60%;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.search-container {
    display: flex;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.background_view {
    width: 100%;
    min-height: 530px;
    background-color: #25293C;
    display: flex;
    align-content: start;
    justify-content: center;
    padding: 40px;
}

.main_view {
    width: 86%;
    min-height: 75%;
    background-color: #303348;
    border: 2px solid #44475D;
    border-radius: 10px;
}

.button_concept_view {
    border-bottom: 2px solid #44475D;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 20px 40px;
}

.button_concept_view div {
    margin-left: 15px;
}


.content_view {
    display: flex;
    flex-direction: row;
}

.list_concept_view {
    width: 410px;
    min-height: 400px;
    border-right: 2px solid #44475D;
    padding: 20px;
}

.list_concept_view ul {
    padding: 0px; /* remove default value*/
    list-style-type: none; /* remove default value*/
    font-size: 20px;
}

.item_selected {
    width: 370px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #7367F0;
    margin-bottom: 10px;
    cursor: pointer;
}

.item_not_selected {
    width: 370px;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.item_not_selected:hover {
    background-color: #7367F0;
}

.content_concept_view {
    width: 898px;
    padding: 20px;
}

.content_concept_view a {
    font-size: 20px;
}

.list_keyphrase_of_concept_view {
    width: 410px;
    border-left: 2px solid #44475D;
}

.keyphrase_buttons_view {
    width: 100%;
    height: 171px;
    padding: 10px 20px;
    border-bottom: 2px solid #44475D;
}

.search_keyphrase_view {
    width: 291px;
    height: 69px;
    border: 2px solid #7065E8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    margin-bottom: 10px;
}

.search_keyphrase_view input {
    width: 261px;
    font-size: 24px;
    border: none;
    outline: none;
    color: white;
    background: transparent;
}

.my_button {
    height: 72px;
    background-color: #3B4054;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 22px 40px;
}

.my_button a {
    font-size: 24px;
}

.my_button:hover {
    background-color: #7367F0;
}

.list_keyphrase_view {
    padding: 20px
}

.list_keyphrase_view ul {
    padding: 0px; /* remove default value*/
    list-style-type: none; /* remove default value*/
}

.keyphrase_not_selected {
    padding: 15px 10px;
}