.content {
    display: flex;
    width: 100%;
    margin-top: 4px;
}

.left-content {
    width: 40%;
}

.list-concept {
    height: 470px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.concept-detail {
    width: 60%;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.search-container {
    display: flex;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

@media only screen and (max-width: 1540px) {
    .background_view {
        width: 100%;
        min-height: 530px;
        background-color: #25293C;
        display: flex;
        align-content: start;
        justify-content: center;
        padding: 20px;
    }

    .main_view {
        width: 86%;
        min-height: 75%;
        background-color: #303348;
        border: 2px solid #44475D;
        border-radius: 10px;
    }

    .button_concept_view {
        border-bottom: 2px solid #44475D;
        display: flex;
        flex-direction: row;
        justify-content: right;
        padding: 20px 40px;
    }

        .button_concept_view div {
            margin-left: 15px;
        }


    .content_view {
        display: flex;
        flex-direction: row;
    }

    .list_concept_view {
        width: 30%;
        height: 600px;
        border-right: 2px solid #44475D;
        padding: 20px;
        overflow: auto;
    }

        .list_concept_view ul {
            padding: 0px; /* remove default value*/
            list-style-type: none; /* remove default value*/
            font-size: 16px;
        }

    .item_selected {
        width: 300px;
        padding: 10px 15px;
        border-radius: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        background-color: #7367F0;
    }

        .item_selected a {
            width: 80%;
            word-break: break-word;
        }

    .item_not_selected {
        width: 300px;
        padding: 10px 15px;
        border-radius: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

        .item_not_selected a {
            width: 80%;
            word-break: break-word;
        }

        .item_not_selected:hover {
            background-color: #7367F0;
        }

    .content_concept_view {
        width: 40%;
        padding: 20px;
    }

        .content_concept_view a {
            width: 92%;
            font-size: 16px;
        }

    .list_keyphrase_of_concept_view {
        width: 30%;
        border-left: 2px solid #44475D;
    }

    .keyphrase_buttons_view {
        width: 100%;
        padding: 20px 20px;
        border-bottom: 2px solid #44475D;
    }

    .search_keyphrase_view {
        width: 100%;
        height: 50px;
        border: 2px solid #7065E8;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

        .search_keyphrase_view input {
            width: 97%;
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            background: transparent;
        }

    .my_button {
        background-color: #3B4054;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
        padding: 12px 30px;
    }

        .my_button a {
            font-size: 16px;
        }

        .my_button:hover {
            background-color: #7367F0;
        }

    .list_keyphrase_view {
        height: 410px;
        padding: 20px;
        overflow: auto;
    }

        .list_keyphrase_view ul {
            padding: 0px; /* remove default value*/
            list-style-type: none; /* remove default value*/
        }

    .keyphrase_not_selected {
        width: 100%;
        padding: 15px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        .keyphrase_not_selected a {
            width: 230px;
            word-wrap: break-word;
            background-color: forestgreen;
        }

        .keyphrase_not_selected div {
            cursor: pointer;
        }

        .keyphrase_not_selected div a {
            text-decoration: underline;
            color: red;
        }

    .keyphrase_multiline {
        width: 100%;
        padding: 15px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
        .keyphrase_multiline div:nth-child(2) {
            cursor: pointer;
        }

        .keyphrase_multiline div:nth-child(2) a {
            text-decoration: underline;
            color: red;
        }

    .form_add_new_concept_background_view {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(10, 20, 46, 0.7);
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 400px 0px;
    }

    .form_add_new_concept_view {
        width: 1200px;
        height: 550px;
        background-color: #0A142E;
        border: 2px solid #44475D;
    }

    .top_form_view {
        width: 100%;
        height: 50px;
        background-color: #25293C;
        display: flex;
        flex-direction: row;
    }

    .icon {
        width: 25px;
        height: 25px;
    }

    .close_btn {
        width: 50px;
        height: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title_form {
        width: 1150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .title_form a {
            font-weight: bold;
            font-size: 20px;
        }

    .concept_input_view {
        width: 450px;
        display: flex;
        flex-direction: row;
        padding: 12px 22px;
        display: flex;
        align-items: center;
    }

        .concept_input_view a {
            font-weight: bold;
            font-size: 16px;
        }

        .concept_input_view div {
            margin-left: 20px;
        }

    .input_concept {
        width: 250px;
        height: 45px;
        border: 2px solid #7065E8;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .input_concept input {
            width: 93%;
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            background: transparent;
        }

    .description_input_view {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 12px 22px;
        display: flex;
        justify-content: center;
    }

        .description_input_view a {
            font-weight: bold;
            font-size: 16px;
        }

        .description_input_view div {
            margin-top: 20px;
        }

    .input_description {
        width: 100%;
        height: 200px;
        border: 2px solid #7065E8;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .input_description textarea {
            width: 97%;
            height: 93%;
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            background: transparent;
            white-space: pre-wrap;
            resize: none;
        }

    .confirm_btn_view {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .confirm_btn {
        width: 500px;
        height: 40px;
        background-color: #19BB1F;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

        .confirm_btn a {
            font-size: 20px;
        }

    .warning_input {
        width: 100%;
        padding-left: 22px;
    }

        .warning_input a {
            font-size: 16px;
            color: red;
        }

    .dialog_delete_view {
        width: 600px;
        height: 270px;
        background-color: #2F3349;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dialog_title_view {
        width: 100%;
        height: 87px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

        .dialog_title_view a {
            font-size: 30px;
            font-weight: bold;
        }

    .dialog_buttons_view {
        width: 100%;
        height: 93px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 0px 40px;
    }

    .button_dialog {
        width: 180px;
        height: 63px;
        background-color: #3B4054;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

        .button_dialog a {
            font-size: 30px;
            font-weight: bold;
        }
}

@media only screen and (max-width: 2000px) {
    .background_view {
        width: 100%;
        min-height: 530px;
        background-color: #25293C;
        display: flex;
        align-content: start;
        justify-content: center;
        padding: 20px;
    }

    .main_view {
        width: 86%;
        min-height: 75%;
        background-color: #303348;
        border: 2px solid #44475D;
        border-radius: 10px;
    }

    .button_concept_view {
        border-bottom: 2px solid #44475D;
        display: flex;
        flex-direction: row;
        justify-content: right;
        padding: 20px 40px;
    }

        .button_concept_view div {
            margin-left: 15px;
        }


    .content_view {
        display: flex;
        flex-direction: row;
    }

    .list_concept_view {
        width: 30%;
        height: 600px;
        border-right: 2px solid #44475D;
        padding: 20px;
        overflow: auto;
    }

        .list_concept_view ul {
            padding: 0px; /* remove default value*/
            list-style-type: none; /* remove default value*/
            font-size: 16px;
        }

    .item_selected {
        width: 100%;
        padding: 10px 15px;
        border-radius: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        background-color: #7367F0;
    }

        .item_selected a {
            width: 80%;
            word-break: break-word;
        }

    .item_not_selected {
        width: 100%;
        padding: 10px 15px;
        border-radius: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

        .item_not_selected a {
            width: 80%;
            word-break: break-word;
        }

        .item_not_selected:hover {
            background-color: #7367F0;
        }

    .content_concept_view {
        width: 40%;
        padding: 20px;
    }

        .content_concept_view a {
            width: 92%;
            font-size: 16px;
        }

    .list_keyphrase_of_concept_view {
        width: 30%;
        border-left: 2px solid #44475D;
    }

    .keyphrase_buttons_view {
        width: 100%;
        padding: 20px 20px;
        border-bottom: 2px solid #44475D;
    }

    .search_keyphrase_view {
        width: 100%;
        height: 50px;
        border: 2px solid #7065E8;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

        .search_keyphrase_view input {
            width: 97%;
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            background: transparent;
        }

    .my_button {
        background-color: #3B4054;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
        padding: 12px 30px;
    }

        .my_button a {
            font-size: 16px;
        }

        .my_button:hover {
            background-color: #7367F0;
        }

    .list_keyphrase_view {
        height: 410px;
        padding: 20px;
        overflow: auto;
    }

        .list_keyphrase_view ul {
            padding: 0px; /* remove default value*/
            list-style-type: none; /* remove default value*/
        }

    .keyphrase_not_selected {
        width: 100%;
        padding: 15px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        .keyphrase_not_selected a {
            width: 330px;
            word-wrap: break-word;
        }

        .keyphrase_not_selected div {
            cursor: pointer;
        }

        .keyphrase_not_selected div a {
            text-decoration: underline;
            color: red;
        }

    .keyphrase_multiline {
        width: 100%;
        padding: 15px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        .keyphrase_multiline div:nth-child(2) {
            cursor: pointer;
        }

            .keyphrase_multiline div:nth-child(2) a {
                text-decoration: underline;
                color: red;
            }

    .form_add_new_concept_background_view {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(10, 20, 46, 0.7);
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 400px 0px;
    }

    .form_add_new_concept_view {
        width: 1200px;
        height: 550px;
        background-color: #0A142E;
        border: 2px solid #44475D;
    }

    .top_form_view {
        width: 100%;
        height: 50px;
        background-color: #25293C;
        display: flex;
        flex-direction: row;
    }

    .icon {
        width: 25px;
        height: 25px;
    }

    .close_btn {
        width: 50px;
        height: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title_form {
        width: 1150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .title_form a {
            font-weight: bold;
            font-size: 20px;
        }

    .concept_input_view {
        width: 450px;
        display: flex;
        flex-direction: row;
        padding: 12px 22px;
        display: flex;
        align-items: center;
    }

        .concept_input_view a {
            font-weight: bold;
            font-size: 16px;
        }

        .concept_input_view div {
            margin-left: 20px;
        }

    .input_concept {
        width: 250px;
        height: 45px;
        border: 2px solid #7065E8;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .input_concept input {
            width: 93%;
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            background: transparent;
        }

    .description_input_view {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 12px 22px;
        display: flex;
        justify-content: center;
    }

        .description_input_view a {
            font-weight: bold;
            font-size: 16px;
        }

        .description_input_view div {
            margin-top: 20px;
        }

    .input_description {
        width: 100%;
        height: 200px;
        border: 2px solid #7065E8;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .input_description textarea {
            width: 97%;
            height: 93%;
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            background: transparent;
            white-space: pre-wrap;
            resize: none;
        }

    .confirm_btn_view {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .confirm_btn {
        width: 500px;
        height: 40px;
        background-color: #19BB1F;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

        .confirm_btn a {
            font-size: 20px;
        }

    .warning_input {
        width: 100%;
        padding-left: 22px;
    }

        .warning_input a {
            font-size: 16px;
            color: red;
        }

    .dialog_delete_view {
        width: 600px;
        height: 270px;
        background-color: #2F3349;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dialog_title_view {
        width: 100%;
        height: 87px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

        .dialog_title_view a {
            font-size: 30px;
            font-weight: bold;
        }

    .dialog_buttons_view {
        width: 100%;
        height: 93px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 0px 40px;
    }

    .button_dialog {
        width: 180px;
        height: 63px;
        background-color: #3B4054;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

        .button_dialog a {
            font-size: 30px;
            font-weight: bold;
        }
}