.import-container {
    width: 100%;
    min-height: 88vh;
    background-color: #303348;
    border-radius: 20px;
    margin-bottom: 20px;
}

.title-container{
    display: flex;
    height: 50px;
    margin: 20px;
    padding-top: 20px;
}

.title {
    width: 18%;
    font-weight: 600;
    margin-left: 10px;
}

.input {
    background-color: #303348;
    border: 1px solid #434968;
    color: white;
    width: 90%;
    height: 39px;
}

.content-container {
    display: flex;
    height: 400px;
    margin: 20px;
    padding-top: 20px;
    height: 65vh;
}

.import-btn {
    display:flex;
    float: right;
    margin-right:20px;
}

.btn-custom{
    width: 200px;
}

