@page "/importlaw"
@inject ILawDocAdminService lawDocAdminService;
@inject NavigationManager NavigationManager;
@inject ICheckUserHasAccessService _checkUserHasAccesService;
@inject AuthenticationStateProvider _authenticationStateProvider;

<AuthorizeView>
    <Authorized>
        <div class="import-container">
            <div class="title-container d-flex flex-wrap">
                <div class="title my-3">
                    Tên văn bản:
                </div>
                <input class="input my-3" type="text" @bind-value="@Name" />
                <div class="title my-3">
                        Số hiệu văn bản:
                    </div>
                    <input class="input my-3" type="text" @bind-value="@Number" />
                <div class="title my-3">
                    Ngày có hiệu lực:
                </div>
                <input class="input my-3" type="date" @bind-value="@EffectiveDate" />
                <div class="title my-3">
                    Ngày hết hiệu lực:
                </div>
                <input class="input my-3" type="date" @bind-value="@ExpirationDate" />
            </div>
            <div class="content-container">
                <div class="title my-3">
                    Nội dung văn bản:
                </div>
                <TextArea @bind-ChildData="Content" />
            </div>
            <div class="import-btn">
                <Button ButtonStyle="add-button btn-custom" data-toggle="modal" data-target="#modal-import" data-backdrop="static" data-keyboard="false" @onclick="() => ImportNewLaw()">
                    Import
                </Button>
            </div>

        </div>

        <!-- Modal Loading -->
        <div class="modal fade" id="modal-import" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    @if (isLoading)
                    {
                        <div class="modal-body">
                            <div class="title-loading">
                                Proccess
                            </div>
                            <div class="loading_">
                                <span class="loader"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancle</button>
                        </div>
                    }
                    @if (!isLoading)
                    {
                        <div class="modal-body">
                            <div class="modal-title-alert">
                                Import law
                            </div>
                            <div class="modal-message-alert">
                                @messageImport
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="CancleModal">OK</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    public string Name = string.Empty;
    public string Content = string.Empty;
    public string Number = string.Empty;
    public DateTime EffectiveDate = DateTime.Now;
    public DateTime ExpirationDate= DateTime.Now;
    public int LawType;
    public string messageImport = "";
    public bool isLoading = true;
    public bool isImportSuccess = false;

    protected override async Task OnInitializedAsync()
    {
        var checkAccess = await _checkUserHasAccesService.CheckUserHasAccessAsync();
        if (!checkAccess)
        {
            NavigationManager.NavigateTo("/");
        }
    }

    public async void ImportNewLaw()
    {
        isLoading = true; //Default value
        var rs = await lawDocAdminService.ImportLaw(Name, Content, Number, EffectiveDate, ExpirationDate, LawType);
        if(rs == true)
        {
            isLoading = false;
            messageImport = "Import văn bản luật thành công!";
            StateHasChanged();
        }
        else
        {
            isLoading = false;
            messageImport = "Import văn bản luật thất bại!";
            StateHasChanged();
        }
    }

    public void CancleModal()
    {
        isLoading = false;
    }
}
