.content {
    display: flex;
    width: 100%;
    margin-top: 4px;
}

.left-content {
    width: 40%;
}

.list-keyphrase {
    height: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.keyphrase-detail {
    width: 60%;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.search-container {
    display: flex;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

@media only screen and (max-width: 1920px) {
    .my_button {
        height: 72px;
        background-color: #3B4054;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
        padding: 22px 40px;
    }

    .background_view {
        width: 100%;
        min-height: 530px;
        background-color: #25293C;
        display: flex;
        align-content: start;
        justify-content: center;
        padding: 20px;
    }

    .main_view {
        width: 86%;
        min-height: 75%;
        background-color: #2F3349;
        border: 2px solid #44475D;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
    }

    .left_view {
        width: 40%;
        height: 100%;
        border-right: 2px solid #44475D;
    }

    .search_bar_view {
        width: 100%;
        height: 105px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search_bar {
        width: 93%;
        height: 65px;
        border: 2px solid #7065E8;
        border-radius: 50px;
        display: flex;
        flex-direction: row;
        justify-content: right;
        background-color: #7065E8;
    }

    .text_input_view {
        width: 89%;
        height: 100%;
        background-color: #2F3349;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text_input_view input {
        width: 93%;
        font-size: 20px;
        border: none;
        outline: none;
        color: white;
        background: transparent;
    }

    .icon {
        height: 35px;
        width: 35px;
    }

    .search_btn {
        width: 15%;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .list_keyphrase_view {
        width: 100%;
        height: 753px;
        padding: 10px 20px;
    }

    .list_keyphrase {
        width: 100%;
        max-height: 700px;
        overflow: auto;
    }

    .list_keyphrase ul {
        padding: 0px; /* remove default value*/
        list-style-type: none; /* remove default value*/
        overflow: auto;
    }

    .list_keyphrase ul li {
        white-space: nowrap;
    }

    .keyphrase_not_selected {
        width: 85%;
        height: 53px;
        background-color: transparent;
        border-radius: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        padding: 0px 20px;
        cursor: pointer;
    }

    .keyphrase_not_selected:hover {
        background-color: #7065E8;
    }

    .keyphrase_selected {
        width: 85%;
        height: 53px;
        background-color: #7065E8;
        border-radius: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        padding: 0px 20px;
        cursor: pointer;
    }

    .right_view {
        width: 60%;
        background-color: lime;
    }

    .buttons_view {
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
}

@media only screen and (max-width: 1540px) {
    .my_button {
        height: 72px;
        background-color: #3B4054;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
        padding: 22px 40px;
    }

    .background_view {
        width: 100%;
        min-height: 530px;
        background-color: #25293C;
        display: flex;
        align-content: start;
        justify-content: center;
        padding: 20px;
    }

    .main_view {
        width: 86%;
        min-height: 75%;
        background-color: #2F3349;
        border: 2px solid #44475D;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
    }

    .left_view {
        width: 40%;
        height: 100%;
        border-right: 2px solid #44475D;
    }

    .search_bar_view {
        width: 100%;
        height: 105px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search_bar {
        width: 93%;
        height: 65px;
        border: 2px solid #7065E8;
        border-radius: 50px;
        display: flex;
        flex-direction: row;
        justify-content: right;
        background-color: #7065E8;
    }

    .text_input_view {
        width: 89%;
        height: 100%;
        background-color: #2F3349;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text_input_view input {
        width: 93%;
        font-size: 20px;
        border: none;
        outline: none;
        color: white;
        background: transparent;
    }

    .icon {
        height: 35px;
        width: 35px;
    }

    .search_btn {
        width: 15%;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .list_keyphrase_view {
        width: 100%;
        height: 538px;
        padding: 10px 0px 10px 20px;
    }

    .list_keyphrase {
        width: 100%;
        max-height: 500px;
        overflow: auto;
    }

    .list_keyphrase ul {
        padding: 0px; /* remove default value*/
        list-style-type: none; /* remove default value*/
        overflow: auto;
    }

    .list_keyphrase ul li {
        white-space: nowrap;
    }

    .keyphrase_not_selected {
        width: 85%;
        height: 53px;
        background-color: transparent;
        border-radius: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        padding: 0px 20px;
        cursor: pointer;
    }

    .keyphrase_not_selected:hover {
        background-color: #7065E8;
    }

    .keyphrase_selected {
        width: 85%;
        height: 53px;
        background-color: #7065E8;
        border-radius: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        padding: 0px 20px;
        cursor: pointer;
    }

    .right_view {
        width: 60%;
        background-color: lime;
    }

    .buttons_view {
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
}