.background_view {
    width: 100%;
    min-height: 100vh;
    background-image: url('/assests/image/background1.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    min-width: 40%;
    padding: 20px 150px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
}

    .btn:hover {
        background-color: #0056b3;
    }

.logo_view {
    margin: 10px 0px
}

.title_view {
    margin: 20px 0px;
}

    .title_view a {
        font-size: 2em;
        font-weight: bold;
    }

.password-group {
    position: relative;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

    .password-container input {
        flex: 1;
        padding-right: 60px;
    }

.togglepw_view {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #007bff;
    user-select: none;
    align-items: center;
}

.social-login-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
}

.button_alt_login {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px 40px;
}

    .button_alt_login img {
        width: 40px;
        height: 40px;
    }

.signup_prompt {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

    .signup_prompt a {
        margin: 0 5px;
    }

    .signup_prompt .bold {
        cursor: pointer;
        color: white;
        font-weight: bold;
    }

.text_middle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.text_middle a {
    font-weight: bold;
}