h1 { 
    color: white;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.search_box_view {
    background: #25293C;
    border-radius: 100px;
    width: 1200px;
    height: 80px;
    display: flex;
    align-items: center;
    border: 3px solid #434968;
}

.text_input_view {
    background: transparent;
    flex: 1;
    padding-left: 20px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px
}

.icon_view {
    width: 120px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7065E8;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px
}

.icon {
    max-width: 100%;
    max-height: 100%;
}

#searchInput {
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
}

.body_view {
    min-height: 1080px;
    background: #25293C;
    display: flex;
    align-items: start;
    justify-content: center;
}