@* Đường dẫn đến page/searchlaw *@
@page "/searchlaw"

@* Băt đầu web *@

<div class="body_view">
    <div class="search_box_view">
        <div class="text_input_view">
            <input type="text" id="searchInput" placeholder="Bạn đang tìm kiếm gì..." style="color: white;">
        </div>
        <div class="icon_view">
            <img class="icon" src="~/assests/icon/search_icon.png" />
        </div>
    </div>
</div>

@* Kết thúc web *@


@* Xử lý chức năng *@
@code {

}
