.body-container {
    margin-top:10px;
    min-height: 88vh;
    padding: 0 80px;
    width:100%;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    padding-left: 30px;
}

.title {
    width: fit-content;
    padding: 0 20px;
    font-weight: 600;
    font-size: 1rem;
}

.custom-select {
    width: 400px;
    height: 40px;
    background-color: #25293C;
    border: 1px solid #434968;
    color: white;
    padding-left: 10px;
}

.dropdown-item {
    color: white;
    padding: 10px;
}

.main-content {
    display: flex;
    width: 100%;
    height: 84vh;
    background-color: #303348;
    border-radius: 20px;
    padding: 26px;
    margin-bottom: 20px;
}


.btn-view-full {
    background-color: #3D4451;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 6px 10px 0 20px;
}

    .btn-view-full:hover {
        background-color: #5E6A7F;
    }

.left-content {
    width: 40%;
    height: 100%;
    padding: 10px;
    overflow: auto;
    display: flex;
    justify-content: center;
}


.right-content {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
    border-left: 3px solid #434968;
    font-size: 1rem;
    padding: 0 0 0 10px;
}

.document-view {
    padding: 30px 50px;
    background-color: white;
    width: max-content;
    height: max-content;
    color: black;
}

.icon {
    height: 14px;
    width: 14px;
    margin-right: 6px;
}

.chapter {
    margin: 0 0 10px 0px;
    height: fit-content;
    color: red;
}

.section {
    margin: 0 0 10px 15px;
    height: fit-content;
    color: lime;
}

.artical {
    margin: 0 0 10px 30px;
    height: fit-content;
    color: yellow;
}

.devide {
    height: 100%;
    width: 2px;
}

/*Loading*/
.loading_ {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    padding: 10px;
    overflow: auto;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

    .loader::after,
    .loader::before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 3px solid;
        border-color: transparent transparent #FF3D00 #FF3D00;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotationBack 0.5s linear infinite;
        transform-origin: center center;
    }

    .loader::before {
        width: 32px;
        height: 32px;
        border-color: #FFF #FFF transparent transparent;
        animation: rotation 1.5s linear infinite;
    }

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
/*End loading*/

/*Modal*/

.modal-dialog {
    max-width: 80%;
    margin: 2rem auto;
}

.modal-content {
    /*    height: 90vh;*/
}

.modal-header {
    background-color: #303348;
}

.modal-body {
    margin-left: 30px;
    overflow-y: auto;
}

.full-right-content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 1rem;
    padding: 0 0 0 10px;
}

.full-document-view {
    padding: 30px 50px;
    background-color: white;
    width: max-content;
    height: max-content;
    color: black;
}
/*End modal*/
